<h4>
  Business: <%= @business.name %>
</h4>


<%= form_for @business do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
<!--   <%= f.label :latitude %>
  <%= f.text_field :latitude %>
  <%= f.label :longitude %>
  <%= f.text_field :longitude %> -->
  <%= f.submit %>
<% end %>

Latitude
<%= @business.latitude %>

Longitude
<%= @business.longitude %>

<%= link_to "Back to all CraftPlaces", businesses_path %>